*{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}
.cta{
    min-height: 80vh;
    background: url("./images/cta.jpg") ;
    background-position: bottom;
    background-size: cover;
    margin: 0;
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5%;
}
.cta h3{
    font-size: 2em;
    max-width: 500px;
    text-align: center;
    color: white;
}

.cta button{
    min-width: 200px;
    padding: 10px 20px;
    margin: 2%;
    border-radius: 1em;
    border: none;
    text-transform: uppercase;
    
}
.cta button:hover{
    box-shadow: 1px 1px 5px black;

}